form {
    border: 1px solid #545454;
    border-radius: 10px;
    padding: 40px;
    background-color:  rgba(124, 235, 255, 0.733);
}

input {
    padding: 5px 20px;
    width: calc(100% - 40px);
    line-height: 16px;
    margin: 10px 0;
    border-radius: 10px;
}

button {
    border-radius: 10px;
    background-color: green;
    color: white;
    font-size: 16px;
    border: none;
}
